<%- include('./partials/header.ejs') %>

<ul class="posts">
    <% if (blogs.length > 0) { %>
        <% blogs.forEach((data) => { %>
            <li class="post">
                <a href="/<%= data._id %>">
                    <img
                    src="data:image/<%=data.image.contentType%>;base64,
                            <%=data.image.data.toString('base64')%>"
                    />
                    <div class="post__content">
                        <h3><%= data.title %></h3>
                        <p><%= data.snippet %></p>
                    </div>
                </a>
            </li>
        <% }); %>
    <% } %>
</ul>

<script>
    document.addEventListener('DOMContentLoaded', () => {
  const posts = document.querySelectorAll('.post');

  posts.forEach(post => {
    post.addEventListener('mousedown', () => {
      post.classList.add('active');
    });

    post.addEventListener('mouseup', () => {
      post.classList.remove('active');
    });

    post.addEventListener('mouseleave', () => {
      post.classList.remove('active');
    });
  });
});
</script>

<%- include('./partials/footer.ejs') %>